<!DOCTYPE html>
<html dir="ltr" lang="en">
<%- include('../layout/headSection')-%>
    <body>
        <div id="main-wrapper">
            <%- include('../layout/Header')-%>
                <%- include('../layout/sidebar')-%>
                    <div class="page-wrapper">
                        <div class="page-breadcrumb">
                            <div class="row">
                                <div class="col-12 d-flex no-block align-items-center">
                                    <h4 class="page-title">Change Password</h4>
                                    <div class="ml-auto text-right">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="card">
                                <form class="form-horizontal" method="post" action="/api/admin/ChangePassword">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="fname"
                                                class="col-sm-3 text-right control-label col-form-label">Current
                                                Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="fname"
                                                    placeholder="enter current password " name="password">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="lname"
                                                class="col-sm-3 text-right control-label col-form-label">New
                                                Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="lname"
                                                    placeholder="enter New Password" name="new_password">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="lname"
                                                class="col-sm-3 text-right control-label col-form-label">Confirm
                                                Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="lname"
                                                    placeholder="enter Confirm Password" name="confirm_password">
                                            </div>
                                        </div>

                                        <input type="hidden" name="email" value="<%=email%>" id="">
                                        <div class="form-group row">
                                            <div class="col-sm-9">
                                                <button class="btn btn-success" type="submit">submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <footer class="footer text-center">All Rights Reserved by Matrix-admin. Designed and
                                Developed by <a href="https://wrappixel.com">WrapPixel</a>.</footer>
                        </div>
                    </div>
                    <%- include('../layout/navslink')-%>
    </body>

</html>